Before starting the file on localhost,
open python on cmd, type in:-
>>from app import db
##db is the name of the sqlite database in the app
>>db.create_all()
##this creates all the neccessary tables in the database
##we have used  sql alchemy here to line up our database, this helps to form our tables in the database using py classes
>>exit()


Also, turn debug mode off while using the app for best results.

And, to run it,
open the foler in cmd, and then > python app.py

This will run the site on port 5000
